*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
--header:  font-family: 'Roboto', sans-serif;
font-family: 'Urbanist', sans-serif;
--body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
--shadow: 5px 5px 5px gray;
}
body{
overflow-x:hidden;
width: 100%;
margin: 0 auto; 
background-color: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);
}


/*Header and Nav Bar*/
.header h1{
 display: inline-block;
  text-align: left;
  font-family: var(--header);
  font-size: 50px;
  font-style: bold;
 
}
header * {
  display: inline;
}
header {
  justify-content: space-between;
  position: absolute;
  width: 100%;
  box-shadow: 5px 5px 5px black;
  background-color: rgb(217, 239, 242);
  display: flex;
  padding: 20px;
}

header nav {
  font-family: var(--header);
  font-size: 25px;
  padding: 20px;
  margin-right: 20px;
}

nav ul li{
  text-shadow: var(--shadow);
   margin-right: 30px;
}

a:link{
  text-decoration: none !important;
}

a:visited {
  color: black;
  text-decoration: none !important;
}
.about-nav:hover{
    cursor: pointer;
}

/*Background Img and Caption*/

.background-image {
height: 650px;
width: 100%;
margin-bottom: 25px;
background-image: url("coding-background-image.jpg") ;
background-size: cover;
background-position: center;
}

/*figcaption {
  position: relative;  
  float: right;  
  background-color: black;
  color: white;
  font-style: italic;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 346px;
  top: 550px;
  font-size: 20px;
}*/

/*Body of page. About Me*/

h1 {
  position: relative;
  font-family: var(--header);
  font-size: 50px;
  color: black;
  text-shadow: var(--shadow) ;
}

.paragraph{
    text-decoration: none;
    width: 900px;
    display: block;
    position: relative;
    left:600px;
    font-size: 20px;
    font-family: var(--body);
}

.about, .work, .contact{
position: relative;
left: 300px;
top:150px;
}
 
/*Work application placeholders*/

.flexbox-container {
 width:100vw;
 display:flex;
}

.flexbox-item{
   flex: 0 0 50vw;
   height: 50vw;
   border: 3px solid black;
   background-image: url("placeholder-image.jpg");
   width: 30%;
   display: flex;
   flex-wrap: wrap;
}

.flexbox-item-1 {
    min-height: 425px;
}

.flexbox-item-2, .flexbox-item-3, .flexbox-item-4,.flexbox-item-5 {
    min-height: 200px;
}

/*Footer Contact Me Section*/
footer ul li{
     display: inline;
     position: relative;
     padding-right: 75px;
     float:right;
     top: 150px;
     font-family: var(--body);
     font-size: 20px;
     text-decoration: none;

}

footer ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer *{
     display: inline;
}

@media screen and (max-width:992px) {
    body, header, h1 {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
  * {
        width: 100%;
    }
}